 <!--begin::Tab pane-->
 <div class="tab-pane " id="tab_roles" role="tabpanel">    
     <!--begin::Form-->
     <form class="form" *ngIf="model" (ngSubmit)="submit()">   
        <ng-container *ngFor="let item of model">
            <div class="form-group d-flex flex-stack "  >              
                <!--begin::Switch-->
                <label class="form-check form-switch form-check-custom form-check-solid">
                    <input class="form-check-input" type="checkbox" [checked]="item.selected" [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}" >
                    <span class="form-check-label fw-semibold text-muted">
                        {{item.role}}
                    </span>
                </label>
                <!--end::Switch-->
            </div>
            <div class="separator separator-dashed my-6"></div>
        </ng-container>
        
        <!--begin::Card footer-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
            <button class="btn btn-primary  px-6" type="submit"> 
                <ng-container *ngIf="this.layoutUtilsService.isLoading | async">
                    <span class="indicator-progress" [style.display]="'block'">
                        انتظر من فضلك...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </ng-container>
              <ng-container *ngIf="(this.layoutUtilsService.isLoading | async) === false">
                <span class="indicator-label">حفظ </span>
            </ng-container></button>
        </div>
        <!--end::Card footer-->
    </form>
    <!--end::Form-->
</div>
<!--end::Tab pane-->